
/.vs/QuranApi/FileContentIndex
/.vs/QuranApi/DesignTimeBuild
/.vs/QuranApi/FileContentIndex
.vs/QuranApi/v17/.suo
.vs/QuranApi/v17/.suo
/.vs/QuranApi/DesignTimeBuild
/.vs/QuranApi/FileContentIndex
/.vs
quran-api-nest/dist/
quran-api-nest/node_modules/
quran-api-nest/utils/node_modules/
*.env
