
/.vs/QuranApi/FileContentIndex
/.vs/QuranApi/DesignTimeBuild
/.vs/QuranApi/FileContentIndex
.vs/QuranApi/v17/.suo
.vs/QuranApi/v17/.suo
/.vs/QuranApi/DesignTimeBuild
/.vs/QuranApi/FileContentIndex
/.vs
