version: '3.8'

services:
  quranapi:
    container_name: quranapi
    image: quranapi:latest
    build:
      context: ./quran-api-nest
      dockerfile: Dockerfile
    ports:
      - "5201:3000"
    environment:
      - NODE_ENV=production
      - PORT=3000
    networks:
      - quranapi-net

networks:
  quranapi-net:
    driver: bridge
